* {
    box-sizing: border-box;
}

button, label {
    margin-right: 15px;
}

#maincontainer {
    display: flex;
    flex-direction: column;
    width: 720px;
    min-width: 720px;
    max-width: 720px;
    height: 720px;
    margin-top: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    transition: border-color 1.5s;
}

#maincontainer, #maincontainer > .row {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.row > .cell {
    flex: 1 1 100%;
    height: 100%;
    user-select: none;
}

#gridcheck:checked ~ #maincontainer > .row > .cell {
    border: solid 1px #ccc;
}